# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode config stuff
!.vscode/c_cpp_properties.json
!.vscode/tasks.json

# CLion/Jetbrains Stuff
.idea/

# NDK stuff
out/
[Ll]ib/
[Ll]ibs/
[Oo]bj/
[Oo]bjs/
ndkpath.txt
*.zip
extern/
qpm.shared.json
Android.mk.backup

# QuestPatcher mods
*.qmod

# Logs
*.log
!.vs/tasks.vs.json
/.vs

/log_timestamp

TestBuild.ps1
TestQMOD.ps1
/build
*.cmake
